<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>26803735170-pv4kilav9utq6ut69ep5njmjp4k8lt7m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.26803735170-pv4kilav9utq6ut69ep5njmjp4k8lt7m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>26803735170-qdis7tpdag6cfb0a0t7k7v5mc4pluhu4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBlE5pUaW6kZ2CoEgPv72J7tXIxX5y7Cpw</string>
	<key>GCM_SENDER_ID</key>
	<string>26803735170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.teamtyro.midwest</string>
	<key>PROJECT_ID</key>
	<string>all-mu</string>
	<key>STORAGE_BUCKET</key>
	<string>all-mu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:26803735170:ios:725705ca7cbe5d7124c29b</string>
</dict>
</plist>